<?xml version="1.0" encoding="UTF-8"?>
<PreferenceScreen xmlns:android="http://schemas.android.com/apk/res/android">
    <PreferenceCategory android:title="@string/pref_settings">
        <EditTextPreference 
            android:key="@string/key_user_name" 
            android:title="@string/pref_user_name">
        </EditTextPreference>
        <EditTextPreference 
            android:key="@string/key_user_email" 
            android:title="@string/pref_user_email">
        </EditTextPreference>
        <EditTextPreference 
            android:key="@string/key_photo_tag" 
            android:title="@string/pref_photo_tag">
        </EditTextPreference>
        <EditTextPreference 
            android:key="@string/key_camera" 
            android:title="@string/pref_camera">
        </EditTextPreference>
    </PreferenceCategory>
</PreferenceScreen>